body {
	background-color: #F8F8F8;
}
#page-content {
	margin: 30px;
}
.rectangle-yellow {
	width: 100px;
	height: 3px;
	background-color: #EED33E;
}
#content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	margin-top: 30px;
	font-family: 'Lato', Arial, sans-serif;
}

h1 {
	margin: 30px 0;
	font-size: 40px;
	color: #141F45;
}

h2 {
	margin-bottom: 8px;
	font-size: 22px;
	color: #141F45;
	font-weight: 400;
}
ul {
	margin-bottom: 54px;
}
li, p {
 	color: #A3A3A3;
 	font-weight: 500;
 	line-height: 1.5;
}
li {
	font-size: 16px;
}
p {
	margin-bottom: 54px;
	font-size: 16px;
}
img {
	width: 100%;
}
div {
	width: 48%;
}
/*.text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}*/
.images {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}